experiments
experiments/*
data
data/*

# 忽略 Python 编译文件和缓存目录
*.py[cod]
__pycache__/

.DS_Store

*.swp
*.swo
*.~*

*.log

venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/
*.iml

build/
dist/
*.egg-info/