experiments
experiments/*
prev_exp/*
data
data/*

# 忽略 Python 编译文件和缓存目录
*.py[cod]
__pycache__/

.DS_Store

*.swp
*.swo
*.~*

*.log

venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/
*.iml

build/
dist/
*.egg-info/

outputs/
output2_batched/
output_batched2/
output_dog_police_batched/
output_omnini/
rebuttal/
outputs/
img/
hf_models/
example_images/
diffusers19/
diffusers/
misc/
models/inversion_models/image_edit_sdxl/
models/inversion_models/sdxl_inversions/
hf_cache/
hf_cache
